/* You can add global styles to this file, and also import other style files */
.bg-black{
    background-color: #2D2F36 !important;
}
.bg-green{
    background-color:#8CD2B2 !important;
}
.font-white{
    color:#Fdfdfe !important;
}
.pad20T{
    padding-top: 20px;
}
.pad20B{
    padding-bottom: 20px;
}
.mrg20T{
    margin-top: 20px;
}